<input type="checkbox" id="@@id" @@if(context.class){class=" @@class "} @@if(context.attribute){@@attribute} aria-label="@@label">
<label for="@@id">@@label</label>

@@if(context.validation_text){
<span class="validation-message">@@validation_text</span>
}
