@@if(context.label){
<label for="@@id">@@label</label>
}

<div class="inner">
    <input id="@@id" type="@@type" class="@@if(context.class){@@class}" @@if(context.attribute){@@attribute} placeholder="@@placeholder">

    @@if(context.icon){
    <span class="icon icon-@@icon"></span>
    }

    @@if(context.button){
    <button type="submit" class="button @@buttonType">@@button</button>
    }
</div>
