<div class="dropdown" role="listbox" aria-owns="@@id-list" aria-expanded="false" data-dropdown @@if(context.attr){@@attr}>
    <input id="@@id" type="hidden" value="null" data-dropdown-input>
    <ul id="@@id-list" aria-label="@@label" class="dropdown-list" data-dropdown-list>
        @@for (var i = 0; i < options.length; i++) {
        <li data-value="` + options[i].value + `" tabindex="0" role="option" class="` + options[i].class + `" ` + ((options[i].liAttr !== undefined) ? options[i].liAttr : '') + `>` + options[i].title + `</li>
        }
    </ul>
</div>
