<input id="@@id" type="@@type" name="@@id" @@if(context.class){class=" @@class "} @@if(context.attribute){@@attribute} @@if(context.placeholder){placeholder="@@placeholder"}>

@@if(context.label){
<label for="@@id">@@label</label>
}

@@if(context.validation_text){
<span class="validation-message">@@validation_text</span>
}
