<form action="/" class="search-form">
    <div class="field">
        <label for="@@id" class="visuallyhidden">@@placeholder</label>
        <input id="@@id" type="@@type" class="@@if(context.class){@@class}" @@if(context.attribute){@@attribute} placeholder="@@placeholder">

        @@if(context.icon){
        <button type="submit" class="button icon icon-@@icon" title="Szukaj">Szukaj</button>
        }
    </div>
</form>
