<footer role="contentinfo">

    <div class="spacer s15"></div>

    <div class="row">
        <div class="small-12 columns">

            @@include('./layout/footer/footer-menu.html')

        </div>
    </div>

    <div class="spacer s15"></div>

    <div class="row">
        <div class="small-12 columns">
            <hr>
        </div>
    </div>

    <div class="bottom-row row align-middle">
        <div class="columns">
            <ul>
                <li>
                    <p>wszystkie prawa zastrzeżone</p>
                </li>
                <li>
                    <a href="#" rel="bookmark" title="Inmani.pl">Inmani.pl</a>
                </li>
            </ul>
        </div>
        <div class="columns shrink">
            <a href="#" class="social" rel="alternate" title="Facebook">
                <img src="../img/facebook-icon.png" alt="Facebook icon" />
            </a>
        </div>
    </div>

</footer>

@@include('components/cookies.html')
@@include('./layout/scripts/scripts.html')
