<div class="row">
    <div class="small-12 medium-6 large-3 columns">
        <ul>
            <li><a href="#" title="" rel="alternate">Rada Powiatu Gorlickiego</a></li>
            <li><a href="#" title="" rel="alternate">Zarząd Powiatu Gorlickiego</a></li>
            <li><a href="#" title="" rel="alternate">Starostwo Powiatowe Wydziały</a></li>
        </ul>
    </div>
    <div class="small-12 medium-6 large-3 columns">
        <ul>
            <li><a href="#" title="" rel="alternate">Samorządowe podsumowania</a></li>
            <li><a href="#" title="" rel="alternate">Atrakcje turystyczne</a></li>
            <li><a href="#" title="" rel="alternate">Polityka prywatności</a></li>
        </ul>
    </div>
    <div class="small-12 medium-6 large-3 columns">
        <ul>
            <li><a href="#" title="" rel="alternate">Rada Powiatu Gorlickiego</a></li>
            <li><a href="#" title="" rel="alternate">Zarząd Powiatu Gorlickiego</a></li>
            <li><a href="#" title="" rel="alternate">Starostwo Powiatowe Wydziały</a></li>
        </ul>
    </div>
    <div class="small-12 medium-6 large-3 columns">
        <ul>
            <li><a href="#" title="" rel="alternate">Samorządowe podsumowania</a></li>
            <li><a href="#" title="" rel="alternate">Atrakcje turystyczne</a></li>
            <li><a href="#" title="" rel="alternate">Polityka prywatności</a></li>
        </ul>
    </div>
</div>
