<header role="presentation" class="@@if(context.class){@@class}">

    @@include('layout/header/top-bar.html')

    <div class="main-bar inner">
        <div class="row align-middle align-justify" data-relative>
            <div class="columns shrink">

                @@include('components/logo.html', {
                    "title": "@@title"
                })

            </div>

            <div class="columns shrink show-for-md text-right">

                @@include('components/accessibility.html')

                @@include('components/form/search-form.html', {
                    "id": "search",
                    "type": "search",
                    "placeholder": "Wyszukiwarka",
                    "icon": "search"
                })

            </div>
            <div class="columns shrink hide-for-md">

                @@include('layout/header/hamburger.html')

            </div>
        </div>
    </div>

    @@include('components/main-nav.html')

</header>
