<div class="top-bar">
    <div class="inner">

        <div class="row">
            <div class="columns small-5">
                <ul>
                    <li>
                        <time datetime="2019-07-22">22 Lipca 2019</time>
                    </li>
                    <li>
                        <div class="name-day">Imieniny: Damiana, Janiny</div>
                    </li>
                </ul>
            </div>
            <div class="columns small-7">
                <ul>
                    <li>
                        <a href="#">Widział komunikacji</a>
                    </li>
                    <li>
                        <a href="#">FB</a>
                    </li>
                    <li>
                        <a href="#">BIP</a>
                    </li>
                    <li>
                        <a href="#">Mapa Strony</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
