.accessibility {
    position: relative;
    margin-bottom: 1.5rem;

    ul {
        display: flex;
        justify-content: flex-end;
        position: relative;

        li {
            padding: 0 1rem;
            position: relative;

            &::before {
                content: '';
                width: 1px;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                opacity: .25;
                background-color: $grey;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;

                &::before {
                    display: none;
                }
            }

            a {
                color: $grey;
                font-size: .75rem;
                line-height: 1.4;
                text-transform: uppercase;
                transition: color .25s ease;

                @include font(400);

                &::before {
                    position: relative;
                    font-size: 1rem;
                    top: .125rem;
                    line-height: .625rem;
                    margin-right: .5rem;
                }
            }

            & > a {
                display: block;
            }

            a {
                &:hover {
                    color: $black;
                }
            }
        }
    }

    .adjust-font-size {
        display: flex;

        a {
            margin-right: 1rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.font-size-0 {
    font-size: 100% !important;
}
.font-size-1 {
    font-size: 110% !important;
}
.font-size-2 {
    font-size: 120% !important;
}
