.cookies-notification {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: transparentize($concrete, .05);
    color: $dark;
    font-size: .875rem;
    line-height: 1.375rem;
    z-index: 99999;
    padding: 1.5rem $offset 1.25rem;
    backface-visibility: hidden;
    will-change: transform;
    border-top: 1px solid $concrete;
    transform: translateY(100%);
    transition: transform .75s ease-in-out;

    &.active {
        transform: translateY(0);
    }

    @include breakpoint(sm) {
        padding: 1.75rem $offset 1.25rem;
        min-height: 7rem;
    }

    @include breakpoint(lg) {
        padding: 2rem $offset 1.5rem;
    }

    @include breakpoint(xl) {
        padding: 2.5rem $offset 1.75rem;
    }

    .inner {
        display: block;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 50vh;
        padding-right: .625rem;

        @include breakpoint(lg) {
            padding-bottom: 0;
            padding-right: 1.25rem;
        }

        .ios & {
            max-height: 15rem;

            @include breakpoint(md) {
                max-height: none;
            }
        }
    }

    .cookies-button {
        position: relative;
        display: inline-block;
        background-color: transparent;
        padding: 0;
        color: $dark;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        cursor: pointer;
        border: 0;

        &:before {
            line-height: 1.9375rem;
        }

        em {
            font-size: 1px;
            color: transparent;
            pointer-events: none;
            position: absolute;
            top: 0;
            left:0;
            display: block;
        }
    }

    p, a, span, strong {
        font-size: .875rem;
        line-height: 1.375rem;
        color: $dark;
    }

    p {
        margin-bottom: 1em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        @include font(700);
    }

    .shrink {
        width: 3rem;

        @include breakpoint(lg) {
            width: 4rem;
        }
    }
}
