.departments {
    display: flex;
    flex-flow: wrap;
    position: relative;

    li {
        display: block;
        width: 100%;
        position: relative;
        padding: 0 1.25rem 1.25rem 1.25rem;
        margin-bottom: 1.25rem;

        @include breakpoint(xs) {
            width: 50%;
        }

        @include breakpoint(lg) {
            width: 100%;
        }

        &::before {
            content: '';
            width: .5rem;
            height: .5rem;
            display: block;
            border-radius: 50%;
            background-color: $red;
            position: absolute;
            top: .5rem;
            left: 0;
        }

        &::after {
            content: '';
            width: 3rem;
            height: 1px;
            display: block;
            position: absolute;
            left: 1.25rem;
            bottom: 0;
            background-color: $concrete;
        }

        &:last-of-type {
            @include breakpoint(lg) {
                &::after {
                    display: none;
                }
            }
        }

        p,
        b {
            font-size: .875rem;
            line-height: 1.75;
            display: block;
        }

        b {
            color: $black;

            @include font(700);
        }
        p {
            margin-bottom: 0;
            color: $grey;

            @include font(300);
        }
    }
}
