.districts-carousel {
    .swiper-slide {
        display: block;
        position: relative;
        text-align: center;

        img {
            display: block;
            max-width: 130px;
            margin: 0 auto 1.5rem;
        }

        span {
            display: block;
            text-align: center;
            font-size: .75rem;
            color: $grey;
            text-transform: uppercase;

            @include font(300);
        }
    }
}


.districts-button-next,
.districts-button-prev {
    width: 2rem;
    height: 2rem;
    border: 1px solid $black;
}

.districts-button-prev {
    background: url('../img/svg/arrow-left.svg') no-repeat center $white;
    background-size: 1.25rem;

    @include breakpoint(lg) {
        left: 0;
    }
    @include breakpoint(xl) {
        left: -2rem;
    }
}

.districts-button-next {
    background: url('../img/svg/arrow-right.svg') no-repeat center $white;
    background-size: 1.25rem;

    @include breakpoint(lg) {
        right: 0;
    }
    @include breakpoint(xl) {
        right: -2rem;
    }
}
