.featured-links {
    position: relative;

    .featured-link {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 78px;
        height: calc(100% - 1rem);
        padding: .5rem;
        margin-bottom: 1rem;

        &.dark-green {
            background-color: $dark-green;
            color: $white;
        }
        &.light-grey {
            background-color: $concrete;
            color: $grey;
        }
        &.grey {
            background-color: $silver;
            color: $white;
        }
        &.dark-blue {
            background-color: $dark-blue;
            color: $white;
        }
        &.red {
            background-color: $red;
            color: $white;
        }

        img {
            display: block;
            width: 3rem;
            object-fit: none;
            opacity: .5;
            margin-right: .5rem;
        }

        span {
            width: calc(100% - 3.5rem);
            display: block;
            line-height: 1.35;
            font-size: .8125rem;
            text-transform: uppercase;

            @include font(700);
        }
    }
}
