.featured-posts {
    margin-bottom: 1rem;
    position: relative;
    display: block;
    z-index: 0;

    @include breakpoint(md) {
        margin-bottom: 1.5rem;
    }

    article {
        position: relative;
        display: block;

        .featured-image {
            display: block;
            position: relative;

            span {
                position: relative;
                display: block;
                width: 100%;
                height: 0;
                padding: 25%;
                margin: 0;
            }
        }

        .content {
            display: block;
            position: relative;
            margin: 0;
            padding: 1rem;
            background-color: $concrete;

            @include breakpoint(xs) {
                padding: 1.125rem;
            }
            @include breakpoint(sm) {
                padding: 1.25rem;
            }
            @include breakpoint(md) {
                padding: 1.375rem;
            }
            @include breakpoint(lg) {
                margin: -3.5rem 3.5rem 0 0;
            }
            @include breakpoint(xl) {
                margin: -5rem 5rem 0 0;
            }

            .post-meta {
                display: flex;
                position: relative;
                margin-bottom: .75rem;

                li {
                    padding: 0 .75rem;
                    position: relative;

                    &::before {
                        content: '';
                        width: 1px;
                        height: 100%;
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        opacity: .25;
                        background-color: $grey;
                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;

                        &::before {
                            display: none;
                        }
                    }
                }

                * {
                    color: $grey;
                    text-transform: uppercase;
                    font-size: .625rem;
                }
            }

            .entry-title {
                display: block;
                color: $black;

                @include font(700);

                a {
                    color: $black;
                }
            }

            p {
                display: block;
                font-size: .875rem;
                color: $grey;
            }

            .read-more {
                display: block;
                color: $cardinal;
                font-size: .75rem;
                line-height: 1;

                @include font(700);
            }
        }
    }

    .swiper-pagination {
        display: flex;
        text-align: left;
        position: absolute;
        bottom: auto;
        left: 1.25rem;

        @include breakpoint(md) {
            left: 1.5rem;
        }
        @include breakpoint(lg) {
            margin-top: -3.75rem;
        }
        @include breakpoint(xl) {
            margin-top: -5.25rem;
        }

        .swiper-pagination-bullet {
            margin: 0 .5rem 0 0;
            border-radius: 0;
            height: .375rem;
            width: 2rem;
            opacity: 1;
            display: block;
            background-color: $white;

            &-active {
                background-color: $red;
            }

            @include breakpoint(sm) {
                height: .4375rem;
                width: 2.5rem;
            }
            @include breakpoint(lg) {
                height: .5rem;
                width: 3rem;
            }
        }
    }
}
