.features {
    background-color: $cardinal;
    color: $white;

    .section-title {
        color: $white;
        border-top: 0;
        padding-bottom: 1em;
        border-bottom: 1px solid transparentize($white, .5);
    }

    .feature {
        display: block;
        position: relative;
        padding: 1rem 3rem 2rem;

        img {
            width: 100%;
            max-width: 75px;
            display: block;
            margin: 0 auto 1.5rem;

            @include breakpoint(sm) {
                max-width: 100px;
            }

            @include breakpoint(lg) {
                max-width: 125px;
            }
        }

        b {
            display: block;
            color: $white;
            text-align: center;
        }

        span {
            color: $white;
            display: block;
        }
    }
}
