.funds {
    padding-top: 1.5rem;

    @include breakpoint(sm) {
        padding-top: 1.75rem;
    }

    @include breakpoint(md) {
        padding-top: 2.25rem;
    }

    @include breakpoint(lg) {
        padding-top: 3rem;
    }

    @include breakpoint(xl) {
        padding-top: 4.5rem;
    }

    h2 {
        margin-bottom: .25em;
        letter-spacing: 2px;

        @include font(700);
    }

    img {
        display: block;
        margin: 0 auto 2rem;
        max-width: 66%;

        @include breakpoint(sm) {
            margin: 0 auto 1.25rem;
            max-width: 80%;
        }
    }
}
