.map {
    padding: 0;
    background-color: $concrete;

    .gmap-wrapper {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 50%;

        @include breakpoint(lg) {
            height: auto;
            padding-bottom: 0;
        }

        iframe {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .content {
        display: block;
        padding: 2rem;
        position: relative;

        @include breakpoint(sm) {
            padding: 2.5rem;
        }
        @include breakpoint(md) {
            padding: 3rem;
        }
        @include breakpoint(lg) {
            padding: 3.5rem;
            max-width: 450px;
        }
        @include breakpoint(xl) {
            padding: 4rem;
        }

        img {
            margin-bottom: 1.25rem;
            width: 100%;
            max-width: 90px;

            @include breakpoint(lg) {
                margin-bottom: 1.75rem;
            }
        }
    }
}
