.hamburger-menu {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 0;
    position: absolute;
    right: .5rem;
    top: calc(50% - 13px);
    z-index: 5;
    cursor: pointer;

    @include breakpoint(sm) {
        right: 1rem;
    }

    @include breakpoint(lg) {
        display: none;
    }

    &:before {
        content: '';
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: -7px;
        left: -7px;
    }

    span {
        display: block;
        width: 100%;
        height: 2px;
        left: 0;
        position: absolute;
        opacity: 1;
        pointer-events: none;
        background-color: $black;
        will-change: auto;
        transform: translate3d(0, 0, 0) rotate(0);
        transition: all .3s cubic-bezier(.17,.67,.65,1.27);

        &:nth-child(1) {
            top: 5px;
        }

        &:nth-child(2) {
            top: 12px;
        }

        &:nth-child(3) {
            top: 19px;
        }
    }

    em {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1px;
        color: transparent;
        pointer-events: none;
    }

    .menu-open & {
        span {
            &:nth-child(1) {
                transform: translate3d(0, 7px, 0) rotate(225deg);
            }
            &:nth-child(2) {
                opacity: 0;
                transform: translate3d(8px, 0, 0) scaleX(.25) rotate(0);
            }
            &:nth-child(3) {
                transform: translate3d(0, -7px, 0) rotate(-225deg);
            }
        }
    }
}
