.high-contrast {
    filter: invert(1);
    background-color: $black;

    img,
    [data-bg-image],
    .swiper-pagination-bullet {
        filter: invert(1) !important;
    }

    .accessibility ul li *,
    .top-bar ul li *,
    .departments li b {
        color: $black !important;
    }

    section .section-title,
    .latest-posts article {
        border-color: $black !important;
    }

    .latest-posts article .content p:after,
    .departments li:after{
        background-color: $black;
    }

    .features {
        .section-title {
            border-color: $white !important;
        }
        .feature img {
            filter: invert(0) !important;
        }
    }

    .field {
        input[type=date],
        input[type=email],
        input[type=number],
        input[type=password],
        input[type=search],
        input[type=text] {
            color: $black;
            border-color: $black !important;
        }
    }

    footer ul a,
    .departments li p {
        @include font(400);
    }

    .districts-carousel {
        .swiper-slide {
            span {
                color: $black;

                @include font(400);
            }
        }
    }

    .social img {
        filter: invert(0) !important;
    }
}
