.latest-posts {
    position: relative;

    article {
        display: block;
        border: 1px solid $concrete;
        margin-bottom: 1rem;

        .featured-image {
            display: block;

            span {
                height: 0;
                width: 100%;
                display: block;
                padding-bottom: 50%;
                position: relative;
            }
        }

        .content {
            display: block;
            position: relative;
            padding: 1.25rem;

            .post-meta {
                display: flex;
                position: relative;
                margin-bottom: .75rem;

                li {
                    padding: 0 .75rem;
                    position: relative;

                    &::before {
                        content: '';
                        width: 1px;
                        height: 100%;
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        opacity: .25;
                        background-color: $grey;
                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;

                        &::before {
                            display: none;
                        }
                    }
                }

                * {
                    color: $grey;
                    text-transform: uppercase;
                    font-size: .75rem;
                }
            }

            .entry-title {
                display: block;
                color: $black;

                @include font(700);

                a {
                    color: $black;
                }
            }

            p {
                display: block;
                position: relative;
                font-size: .875rem;
                padding-bottom: 1.375em;
                color: $grey;

                &::after {
                    content: '';
                    width: 3rem;
                    height: 1px;
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: $concrete;
                }
            }

            .read-more {
                display: block;
                color: $cardinal;
                font-size: .75rem;
                line-height: 1;

                @include font(700);
            }
        }

        &.sticky {
            @include breakpoint(sm) {
                border: 0;
                display: flex;
            }

            .content {
                background-color: $concrete;
            }

            .featured-image {
                @include breakpoint(sm) {
                    display: block;
                    position: relative;
                    width: 32%;

                    span {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .content {
                @include breakpoint(sm) {
                    width: 68%;
                    background-color: $concrete;
                }

                @include breakpoint(md) {
                    padding: 1.875rem;
                }

                p {
                    &::after {
                        background-color: darken($concrete, 7%);
                    }
                }
            }
        }
    }
}
