.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: $black;

    img {
        position: relative;
        display: block;
        max-width: 45px;
        transition: all .25s ease;

        @include breakpoint(xs) {
            max-width: 50px;
        }
        @include breakpoint(sm) {
            max-width: 64px;
        }
        @include breakpoint(md) {
            max-width: 75px;
        }
        @include breakpoint(lg) {
            max-width: 92px;
        }
    }

    span {
        display: block;
        font-size: 1rem;
        line-height: 1.25;
        margin-left: .75rem;
        max-width: 152px;
        transition: all .25s ease;

        @include font(400);

        @include breakpoint(xs) {
            font-size: 1.125rem;
            max-width: 175px;
            margin-left: .875rem;
        }
        @include breakpoint(sm) {
            font-size: 1.25rem;
            max-width: 190px;
            margin-left: 1rem;
        }
        @include breakpoint(md) {
            font-size: 1.5rem;
            max-width: 235px;
            margin-left: 1.125rem;
        }
        @include breakpoint(lg) {
            max-width: 300px;
            font-size: 30px;
            margin-left: 1.25rem;
        }
    }
}
