.menu-container {
    display: block;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 18vh 7.5vw;
    background-color: transparent;
    will-change: auto;
    transition: all .1s ease;

    .menu-open & {
        pointer-events: auto;
        opacity: 1;
        background-color: $white;
    }

    & > .row {
        & > .columns {
            @include breakpoint(up-to-md) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            @include breakpoint(md) {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .inner {
        @include breakpoint(up-to-md) {
            display: flex;
            flex-direction: column;
            align-items: center;

            .button {
                min-width: 200px;
                margin-top: 1.5rem;
            }
        }

        @include breakpoint(xs-only) {
            .button {
                margin-top: .75rem;
            }
        }
    }

    @include breakpoint(md) {
        position: static;
        padding: 0 2vw;
        background-color: transparent !important;
        pointer-events: auto !important;
        opacity: 1 !important;
    }

    .main-menu {
        display: block;
        text-align: center;
        position: relative;
        margin: 0;
        padding: 0;

        @include breakpoint(md) {
            text-align: left;
            width: 100%;
            z-index: 1;
            padding: .75rem 0;
            background-color: $cardinal;
            margin-bottom: 1.5rem;

            &::after {
                content: '';
                width: 150vw;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: calc(-2vw - .5rem);
                z-index: -1;
                background-color: $cardinal;
            }
        }
        @include breakpoint(lg) {
            padding: 1.25rem 0;
            margin-bottom: 2rem;

            &::after {
                left: -4rem;
            }
        }

        ul {
            position: relative;
            display: block;
            padding: 0;
            margin: 0;

            @include breakpoint(md) {
                display: flex;
                text-align: left;
                width: 100%;
                justify-content: space-between;
            }
        }

        li {
            display: block;
            position: relative;
            text-align: center;
            padding: 0;
            margin-bottom: 1.125rem;

            @include breakpoint(xs-only) {
                margin-bottom: .25rem;
            }

            @include breakpoint(md) {
                padding: 0;
                margin-bottom: 0;
            }

            @include breakpoint(xl) {
                padding: 0;
            }

            &:first-of-type {
                a {
                    width: 2rem;
                    text-indent: 100%;
                    white-space: nowrap;
                    overflow: hidden;

                    &::before {
                        font-size: 1.5rem;
                        position: absolute;
                        left: -2rem;
                        top: -1px;
                        text-indent: 0;

                        @include breakpoint(md) {
                            left: .25rem;
                        }
                    }
                }
            }

            a {
                position: relative;
                color: $black;
                font-size: 1.125rem;
                line-height: 1.5;
                transition: opacity .2s ease;

                @include font(400);

                @include breakpoint(md) {
                    display: block;
                    color: $white;
                    font-size: .75rem;
                    line-height: 1.5rem;
                    text-transform: uppercase;

                    @include font(300);

                    &.active,
                    &:focus,
                    &:hover {
                        opacity: 1;
                    }

                    &.active {
                        @include font(400);
                    }
                }
                @include breakpoint(lg) {
                    font-size: 1rem;
                }
            }
        }
    }
}
