.top-bar {
    position: relative;
    background-color: $concrete;
    padding: .75rem 0;
    display: none;
    transition: padding .25s ease;

    @include breakpoint(md) {
        display: block;
    }

    @include breakpoint(lg) {
        padding: 1.25rem 0;
    }

    .columns {
        position: relative;

        ul {
            display: flex;
            position: relative;

            li {
                padding: 0 1rem;
                position: relative;

                &::before {
                    content: '';
                    width: 1px;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    opacity: .25;
                    background-color: $grey;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;

                    &::before {
                        display: none;
                    }
                }

                time,
                div,
                a {
                    color: $grey;
                    display: block;
                    font-size: .625rem;
                    line-height: 1.4;
                    text-transform: uppercase;
                    transition: color .25s ease;

                    @include font(400);

                    @include breakpoint(lg) {
                        font-size: .75rem;
                    }
                }

                a {
                    &:hover {
                        color: $black;
                    }
                }
            }
        }

        &:last-of-type {
            ul {
                justify-content: flex-end;
            }
        }
    }
}
