.button {
    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.2;
    border-radius: 0;
    padding: .6875rem 3rem;
    background-color: $cardinal;
    border: 0;
    color: $white;
    overflow: hidden;
    text-transform: uppercase;
    width: auto;
    transition: all .25s ease;

    @include font(700);

    @include breakpoint(xs) {
        padding: .6875rem 3.25rem;
    }

    @include breakpoint(sm) {
        padding: .6875rem 3.5rem;
    }

    @include breakpoint(md) {
        padding: .6875rem 3.75rem;
    }

    @include breakpoint(lg) {
        padding: .6875rem 4rem;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: darken($cardinal, 5%);
    }
}
