&.checkbox {
    input[type='checkbox'] {
        position: absolute;
        width: 1px;
        height: 1px;
        border: 0;
        top: 0;
        left: 0;
        opacity: 0;

        & + label {
            position: relative;
            display: inline-block;
            vertical-align: top;
            font-size: .875rem;
            line-height: 1.5;
            cursor: pointer;
            padding-left: 2.75rem;
            color: $white;
            text-transform: none;

            @include font(400);

            @include breakpoint(sm) {
                padding-left: 2.375rem;
                font-size: .75rem;
            }

            @include breakpoint(lg) {
                padding-left: 2rem;
                font-size: .625rem;
            }

            &::before {
                content: '';
                width: 1.75rem;
                height: 1.75rem;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $white;
                border: 1px solid $grey;
                border-radius: $border-radius;
                transition: all .25s ease;

                @include breakpoint(sm) {
                    width: 1.375rem;
                    height: 1.375rem;
                }

                @include breakpoint(lg) {
                    width: 1rem;
                    height: 1rem;
                }
            }

            &::after {
                content: '';
                width: 1rem;
                height: .5rem;
                display: block;
                border-left: 2px solid $black;
                border-bottom: 2px solid $black;
                position: absolute;
                top: .5rem;
                left: .375rem;
                opacity: 0;
                transform: rotate(-45deg) scale(1.5);
                transition: all .25s ease;

                @include breakpoint(sm) {
                    width: .875rem;
                    top: .3125rem;
                    left: .25rem;
                }

                @include breakpoint(lg) {
                    width: .625rem;
                    height: .375rem;
                    top: .25rem;
                    left: .1875rem;
                }
            }
        }

        &:checked {
            & + label {
                &::after {
                    opacity: 1;
                    transform: rotate(-45deg) scale(1);
                }
            }
        }
    }

    .js-validate-error-label {
        left: 2.75rem;
        top: 107.5%;

        @include breakpoint(sm) {
            left: 2.375rem;
            top: 110%;
        }
        @include breakpoint(lg) {
            left: 2rem;
            top: 112.5%;
        }
    }
}
