.field {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2.5rem;

    @import 'inputs';
    @import 'checkbox';
    @import 'radio';
}

.search-form {
    width: 280px;
    display: inline-block;
    vertical-align: top;

    .field {
        display: flex;
        margin-bottom: 0;

        input[type='search'] { }

        button {
            padding: .5rem;
            width: 50px;
            height: 46px;
            text-align: center;
            text-indent: 200%;
            overflow: hidden;
            white-space: nowrap;

            &::before {
                position: absolute;
                text-indent: 0;
                left: 12px;
                top: 12px;
                font-size: 20px;
            }
        }
    }
}
