input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='number'],
input[type='date'] {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid $concrete;
    text-transform: uppercase;
    border-radius: 0;
    color: $black;
    font-size: .75rem;
    height: 46px;

    &::placeholder {
        color: $silver;
    }

    // sass-lint:disable-all
    line-height: 100%;
    line-height: 1.3;
    // sass-lint:enable-all

    padding: .75rem 1rem;
    box-shadow: none;
    transition: all .25s ease;

    @include font(400);

    &:focus,
    &[data-hover],
    &[data-focus] {
        font-size: .75rem;
        color: $black;
    }
}

// Textarea
textarea {
    display: block;
    width: 100%;
    border: 1px solid $concrete;
    color: $black;
    font-size: 1rem;
    line-height: 1;
    padding: 1rem 1.25rem;
    box-shadow: none;
    min-height: 100px;
    transition: border .25s ease;

    @include font(400);

    &:focus,
    &:hover,
    &[data-hover],
    &[data-focus] {
        border: 1px solid $success;
    }
}
