label {
    display: block;
    font-size: .875rem;
    line-height: 1.2;
    color: $white;
    margin-bottom: .875rem;

    @include font(400);

    @include breakpoint(sm) {
        font-size: .9375rem;
        margin-bottom: 1rem;
    }

    @include breakpoint(lg) {
        font-size: 1.125rem;
        margin-bottom: 1.25rem;
    }

    .checkbox & {
        margin-bottom: 0;
    }
}
