.link {
    color: $black;
    font-size: .9375rem;
    position: relative;
    display: inline-block;

    @include breakpoint(sm) {
        font-size: 1rem;
    }
    @include breakpoint(lg) {
        font-size: 1.0625rem;
    }
    @include breakpoint(xl) {
        font-size: 1.125rem;
    }

    .icon {
        display: block;
        font-size: .875rem;
        line-height: 1.5;
        position: absolute;
        width: 1rem;
        height: 1rem;
        right: .125rem;
        top: calc(50% - .5rem);
        color: $black;
    }
}
