&.radio {
    input[type='radio'] {
        position: absolute;
        width: 1px;
        height: 1px;
        border: 0;
        top: 0;
        left: 0;
        opacity: 0;

        & + label {
            position: relative;
            display: block;
            font-size: 1rem;
            line-height: 1.25;
            cursor: pointer;
            padding-top: 2px;
            padding-left: 34px;
            color: $dark;
            text-transform: none;

            @include font(400);

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $white;
                border: 1px solid $dark;
                border-radius: 50%;
                transition: all .25s ease;
                will-change: auto;
            }

            &::after {
                content: '';
                width: 8px;
                height: 8px;
                display: block;
                background-color: $white;
                position: absolute;
                top: 6px;
                left: 6px;
                opacity: 0;
                border-radius: 50%;
                transform: scale(1.5);
                transition: all .25s ease;
                will-change: auto;
            }
        }

        &:checked {
            & + label {
                &::before {
                    background-color: $success;
                    border-color: $success;
                }

                &::after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        &:hover,
        &:focus,
        &[data-hover],
        &[data-focus] {
            & + label {
                &::before {
                    border-color: $success;
                }
            }
        }
    }
}
