.cs-select {
    position: relative;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    min-width: 3.25rem;

    .cs-placeholder {
        display: block;
        width: 100%;
        border: 1px solid $dark;
        border-radius: 0;
        color: $black;
        font-size: 1rem;
        height: 40px;
        line-height: 1;
        will-change: auto;
        padding: .75rem 1.75rem .75rem .5rem;
        box-shadow: none;

        @include font(400);

        &::after {
            content: '';
            width: .625rem;
            height: .625rem;
            display: block;
            position: absolute;
            top: 50%;
            right: .5rem;
            border-left: 1px solid $black;
            border-bottom: 1px solid $black;
            transition: all .15s ease-in-out;
            will-change: auto;
            transform: translateY(-100%) rotate(-45deg);
        }
    }

    &.cs-active {
        z-index: 1;

        .cs-placeholder {
            &::after {
                transform: translateY(-25%) rotate(135deg);
            }
        }
        .cs-options {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
    }

    .cs-options {
        position: absolute;
        top: calc(100% - 1px);
        width: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        will-change: auto;
        transform: translateY(1rem);
        transition: all .25s ease;

        ul {
            position: relative;
            border: 1px solid $grey;
            border-radius: 3px;
            overflow: hidden;

            li {
                position: relative;
                display: block;
                outline: 0;
                border-top: 1px solid $grey;

                &:first-child {
                    border-top: 0;
                }

                span {
                    background-color: $white;
                    display: block;
                    font-size: .875rem;
                    color: $dark;
                    padding: .5625rem .5rem;
                    transition: background .25s ease;

                    @include font(400);

                    &::after {
                        display: none;
                    }
                }

                &:hover {
                    & > span {
                        background-color: $grey;
                    }
                }

                &.cs-selected {
                    & > span {
                        background-color: darken($grey, 2.5%);
                    }
                }
            }
        }
    }

    select {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    [data-placeholder] {
        display: none;
    }
}
