<div class="accessibility">
    <ul>
        <li>
            <a href="#" id="contrast" class="icon icon-contrast">Wersja kontrastowa</a>
        </li>
        <li>
            <div class="adjust-font-size">
                <a href="#" id="font-default">A</a>
                <a href="#" id="font-large">A+</a>
                <a href="#" id="font-larger">A++</a>
            </div>
        </li>
    </ul>
</div>
