<div class="cookies-notification">
    <div class="row">
        <div class="columns relative">
            <div class="inner">
                <p>Na stronie internetowej korzystamy z plików cookies lub podobnych technologii za zgodą Użytkownika wyrażoną poprzez korzystanie ze strony bez zmiany ustawień przeglądarki, w celach zapewnienia poprawnego funkcjonowania strony, bezpieczeństwa oraz w celach analitycznych, statystycznych, dostosowywania strony do indywidualnych potrzeb użytkowników i w celach reklamowych.</p>
            </div>
        </div>
        <div class="columns shrink text-right">
            <button id="close-cookies" class="cookies-button icon icon-close"><em>Zamknij</em></button>
        </div>
    </div>
</div>
