<h2 class="section-title" data-view>Wydziały starostwa</h2>

<ul class="departments">
    <li data-view>
        <b>Wydział Gospodarki Nieruchomościami</b>
        <p>ul. Biecka 3, 38-300 Gorlice <br>tel.: (018) 353 53 80 <br>starostwo@powiatgorlicki.pl <br>poniedziałek - piątek 7.30 - 15.30</p>
    </li>
    <li data-view>
        <b>Wydział Gospodarki Nieruchomościami</b>
        <p>ul. Biecka 3, 38-300 Gorlice <br>tel.: (018) 353 53 80 <br>starostwo@powiatgorlicki.pl <br>poniedziałek - piątek 7.30 - 15.30</p>
    </li>
    <li data-view>
        <b>Wydział Gospodarki Nieruchomościami</b>
        <p>ul. Biecka 3, 38-300 Gorlice <br>tel.: (018) 353 53 80 <br>starostwo@powiatgorlicki.pl <br>poniedziałek - piątek 7.30 - 15.30</p>
    </li>
    <li data-view>
        <b>Wydział Gospodarki Nieruchomościami</b>
        <p>ul. Biecka 3, 38-300 Gorlice <br>tel.: (018) 353 53 80 <br>starostwo@powiatgorlicki.pl <br>poniedziałek - piątek 7.30 - 15.30</p>
    </li>
</ul>
