<div id="districts" class="districts-carousel swiper-container" data-view="5">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../img/gminy/gmina_ropa.png" alt="Heraldic symbol of gmina">
            <span>gmina ropa</span>
        </div>
        <div class="swiper-slide">
            <img src="../img/gminy/gmina_debowiec.png" alt="Heraldic symbol of gmina">
            <span>gmina debowiec</span>
        </div>
        <div class="swiper-slide">
            <img src="../img/gminy/gmina_jaslo.png" alt="Heraldic symbol of gmina">
            <span>gmina jaslo</span>
        </div>
        <div class="swiper-slide">
            <img src="../img/gminy/gmina_bobowa.png" alt="Heraldic symbol of gmina">
            <span>gmina bobowa</span>
        </div>
        <div class="swiper-slide">
            <img src="../img/gminy/gmina_gorlice.png" alt="Heraldic symbol of gmina">
            <span>gmina gorlice</span>
        </div>
        <div class="swiper-slide">
            <img src="../img/gminy/gmina_lipinki.png" alt="Heraldic symbol of gmina">
            <span>gmina lipinki</span>
        </div>
    </div>
</div>
<div class="swiper-button-prev districts-button-prev"></div>
<div class="swiper-button-next districts-button-next"></div>
