<div id="fp-carousel" class="featured-posts swiper-container" data-view="2">
    <div class="swiper-wrapper">
        <div class="swiper-slide">

            @@include('components/post.html', {
                "img": "photo-1.jpg",
                "title": "Gorlicki maraton",
                "excerpt": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, commodi consectetur dicta fugiat inventore laboriosam magnam maxime non quas rem sed soluta ullam voluptate",
                "day": "10"
            })

        </div>
        <div class="swiper-slide">

            @@include('components/post.html', {
                "img": "photo-2.jpg",
                "title": "Gorlicki dolor sit amet",
                "excerpt": "Lorem ipsum dolor sit amet, consectetur adipisicing elit animi cupiditate dignissimos fugiat inventore laboriosam magnam maxime",
                "day": "15"
            })

        </div>
        <div class="swiper-slide">

            @@include('components/post.html', {
                "img": "photo-3.jpg",
                "title": "Lorem amet maraton",
                "excerpt": "Lorem ipsum dolor sit amet, consectetur adipisicing elit animi cupiditate dignissimos doloremque fugiat inventore laboriosam magnam maxime",
                "day": "20"
            })
        </div>
        <div class="swiper-slide">

            @@include('components/post.html', {
                "img": "photo-4.jpg",
                "title": "Lorem ipsum dolor sit amet",
                "excerpt": "Lorem ipsum dolor sit amet, consectetur adipisicing elit animi cupiditate dignissimos doloremque fugiat inventore laboriosam magnam maxime",
                "day": "25"
            })
        </div>
    </div>
    <div id="fp-pagination" class="swiper-pagination"></div>
</div>
