<div class="featured-links row">
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link light-grey" data-view="0">
            <img src="../img/icon-epuap.png" alt="icon" />
            <span>E-puap elektroniczna skrzynka podawcza</span>
        </a>
    </div>
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link grey" data-view="1">
            <img src="../img/icon-bip.png" alt="icon" />
            <span>Biuletyn informacji publicznej</span>
        </a>
    </div>
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link dark-blue" data-view="2">
            <img src="../img/icon-facebook.png" alt="icon" />
            <span>Facebook</span>
        </a>
    </div>
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link dark-green" data-view="3">
            <img src="../img/icon-camera.png" alt="icon" />
            <span>Transmisje z sesji rady powiatu</span>
        </a>
    </div>
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link grey" data-view="4">
            <img src="../img/icon-centrum.png" alt="icon" />
            <span>Centrum zarządzania kryzysowego</span>
        </a>
    </div>
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link red" data-view="5">
            <img src="../img/icon-pin.png" alt="icon" />
            <span>Geoportal</span>
        </a>
    </div>
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link dark-green" data-view="6">
            <img src="../img/icon-padlock.png" alt="icon" />
            <span>Ochrona danych osobowych</span>
        </a>
    </div>
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link dark-blue" data-view="7">
            <img src="../img/icon-waypoint.png" alt="icon" />
            <span>Turystyka</span>
        </a>
    </div>
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link red" data-view="8">
            <img src="../img/icon-eu.png" alt="icon" />
            <span>Fundusze europejskie</span>
        </a>
    </div>
    <div class="small-12 medium-6 columns">
        <a href="#" class="featured-link light-grey" data-view="9">
            <img src="../img/icon-save.png" alt="icon" />
            <span>Organizacje pozarządowe</span>
        </a>
    </div>
</div>
