<section class="funds pb">
    <div class="row align-center-middle text-center medium-text-left">
        <div class="columns small-12 medium-3">
            <h2>GORLICE</h2>
            <p>49°39'44.9"N 21°09'39.4"E</p>

            <div class="spacer s15 show-for-small-only"></div>
        </div>
        <div class="columns small-12 medium-3">
            <a href="#" title="" rel="bookmark">
                <img src="../img/fundusze.jpg" alt="Fundusze logo" />
            </a>
        </div>
        <div class="columns small-12 medium-3">
            <a href="#" title="" rel="bookmark">
                <img src="../img/fundusze2.jpg" alt="Fundusze logo" />
            </a>
        </div>
        <div class="columns small-12 medium-3">
            <a href="#" title="" rel="bookmark">
                <img src="../img/fundusze3.jpg" alt="Fundusze logo" />
            </a>
        </div>
    </div>
</section>
