<h2 class="section-title" data-view>aktualności</h2>

<div class="latest-posts">
    <div class="row">
        <div class="small-12 columns" data-view>

            @@include('components/post.html', {
                "img": "photo-5.jpg",
                "class": "sticky",
                "title": "Konwent Przewodniczących  Rad Powiatów Małopolski",
                "excerpt": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, commodi consectetur dicta lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, commodi consectetur dicta lorem ipsum dolor sit amet, consectetur",
                "day": "10"
            })

        </div>
        <div class="small-12 medium-4 columns" data-view>

            @@include('components/post.html', {
                "img": "muzyka2.jpg",
                "no_title": true,
                "no_cat": true,
                "equal": true,
                "title": "Konwent Przewodniczących  Rad Powiatów Małopolski",
                "excerpt": "Lorem ipsum dolor sit amet, consectetur adipisicing elit",
                "day": "15"
            })

        </div>
        <div class="small-12 medium-4 columns" data-view>

            @@include('components/post.html', {
                "img": "muzyka2.jpg",
                "no_title": true,
                "no_cat": true,
                "equal": true,
                "title": "Konwent Przewodniczących  Rad Powiatów Małopolski",
                "excerpt": "Lorem ipsum dolor sit amet, consectetur adipisicing elit",
                "day": "20"
            })

        </div>
        <div class="small-12 medium-4 columns" data-view>

            @@include('components/post.html', {
                "img": "muzyka2.jpg",
                "no_title": true,
                "no_cat": true,
                "equal": true,
                "title": "Konwent Przewodniczących  Rad Powiatów Małopolski",
                "excerpt": "Lorem ipsum dolor sit amet, consectetur adipisicing elit",
                "day": "25"
            })

        </div>
    </div>
</div>
