<div class="menu-container">
    <div class="row align-middle">
        <div class="columns">

            <nav class="main-menu">
                <ul>
                    <li>
                        <a href="#" class="icon icon-home">Strona główna</a>
                    </li>
                    <li>
                        <a href="#">Aktualności</a>
                    </li>
                    <li>
                        <a href="#">Powiat</a>
                    </li>
                    <li>
                        <a href="#">Urząd</a>
                    </li>
                    <li>
                        <a href="#">Załatw sprawę</a>
                    </li>
                    <li>
                        <a href="#">Zamówienia Publiczne</a>
                    </li>
                    <li>
                        <a href="#">Kontakt</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
