<section class="map">
    <div class="row collapse full-width">
        <div class="small-12 large-7 columns" data-relative>
            <div class="gmap-wrapper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20663.22528827175!2d21.149029533267687!3d49.656154045296155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2spl!4v1567406105611!5m2!1sen!2spl" title="Google Map" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="small-12 large-5 columns">
            <div class="content">

                <div class="row">
                    <div class="small-12 medium-2 medium-text-left large-12 columns text-center" data-view="0">
                        <img src="../img/logo.png" alt="Heraldic logo" />
                    </div>
                    <div class="small-12 text-center medium-9 medium-text-left medium-offset-1 large-12 large-offset-0 columns" data-view="3">
                        <b>Wydział Gospodarki Nieruchomościami</b>
                        <p>ul. Biecka 3, 38-300 Gorlice <br/>tel.: (018) 353 53 80 <br/>starostwo@powiatgorlicki.pl</p>

                        <div class="spacer s1"></div>

                        <b>Godziny otwarcia urzędu</b>
                        <p>poniedziałek 7.30 - 16:30 <br />wtorek - czwartek 7:30 - 15:30<br />piątek 7:30 - 14:30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
