<article @@if(context.class){class="@@class"} @@if(context.equal) {data-mh="post"}>
    <a href="#" class="featured-image" title="@@title">
        <span data-bg-image="../../img/featured-posts/@@img"></span>
    </a>
    <div class="content">
        <ul class="post-meta">
            <li>
                <time datetime="2019-07-@@day" class="posted-date">@@day Lipca 2019</time>
            </li>

            @@if(!context.no_cat) {
            <li>
                <a href="#" class="category">Aktualności</a>
            </li>
            }
        </ul>

        @@if(!context.no_title) {

        <h2 class="entry-title">
            <a href="#">@@title</a>
        </h2>

        }

        <p>@@excerpt</p>
        <a href="#" class="read-more">Dowiedz się więcej</a>
    </div>
</article>
