// SlideIn from Top
@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

// SlideIn from Bottom
@keyframes slideInBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

// SlideIn from Left
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

// SlideIn from Right
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

// SlideOut to Top
@keyframes slideOutTop {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

// SlideOut to Bottom
@keyframes slideOutBottom {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}

// SlideOut to Left
@keyframes slideOutLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

// SlideOut to Right
@keyframes slideOutRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

// FadeIn
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// FadeOut
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// Rotate
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes tipTop {
    from {
        transform: translateY(-75%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes tipBottom {
    from {
        transform: translateY(75%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
