// Lato Thin
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path}/lato/lato-thin.eot');
    src: url('#{$font-path}/lato/lato-thin.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/lato/lato-thin.woff') format('woff'),
    url('#{$font-path}/lato/lato-thin.woff2') format('woff2'),
    url('#{$font-path}/lato/lato-thin.ttf') format('truetype'),
    url('#{$font-path}/lato/lato-thin.svg#lato-thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

// Lato Light
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path}/lato/lato-light.eot');
    src: url('#{$font-path}/lato/lato-light.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/lato/lato-light.woff') format('woff'),
    url('#{$font-path}/lato/lato-light.woff2') format('woff2'),
    url('#{$font-path}/lato/lato-light.ttf') format('truetype'),
    url('#{$font-path}/lato/lato-light.svg#lato-light') format('svg');
    font-weight: 300;
    font-style: normal;
}

// Lato Regular
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path}/lato/lato-regular.eot');
    src: url('#{$font-path}/lato/lato-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/lato/lato-regular.woff') format('woff'),
    url('#{$font-path}/lato/lato-regular.woff2') format('woff2'),
    url('#{$font-path}/lato/lato-regular.ttf') format('truetype'),
    url('#{$font-path}/lato/lato-regular.svg#lato-regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

// Lato Bold
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path}/lato/lato-bold.eot');
    src: url('#{$font-path}/lato/lato-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/lato/lato-bold.woff') format('woff'),
    url('#{$font-path}/lato/lato-bold.woff2') format('woff2'),
    url('#{$font-path}/lato/lato-bold.ttf') format('truetype'),
    url('#{$font-path}/lato/lato-bold.svg#lato-bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

// Lato Black
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path}/lato/lato-black.eot');
    src: url('#{$font-path}/lato/lato-black.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/lato/lato-black.woff') format('woff'),
    url('#{$font-path}/lato/lato-black.woff2') format('woff2'),
    url('#{$font-path}/lato/lato-black.ttf') format('truetype'),
    url('#{$font-path}/lato/lato-black.svg#lato-black') format('svg');
    font-weight: 900;
    font-style: normal;
}
