.list {
    display: block;
    position: relative;

    li {
        display: block;
        position: relative;
        font-size: .9375rem;
        letter-spacing: -1px;
        line-height: 1.67;
        margin-top: 0;
        color: $black;
        padding: .5rem 0 .5rem 2.625rem;

        @include font(400);

        &::before {
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            display: block;
            position: absolute;
            left: 0;
            background: url('../img/svg/bullet-tick.svg') no-repeat center transparent;
        }

        @include breakpoint(sm) {
            font-size: 1rem;
        }

        @include breakpoint(lg) {
            font-size: 1.125rem;
        }

        @include breakpoint(xl) {
            font-size: 1.1875rem;
        }
    }
}
