.visuallyhidden {
    display: inline;
    width: 1px;
    height: 1px;
    position: absolute;
    background-color: transparent;
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 100%;
}

.overflow {
    overflow: hidden;
}

.no-margin {
    margin: 0 !important;
}

.no-mb {
    margin-bottom: 0 !important;
}

.tiny-margin {
    margin-bottom: .25rem;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.uppercase {
    text-transform: uppercase;
}

.full-height {
    @include breakpoint(sm) {
        height: 100%;
    }
}

.full-width {
    width: 100%;
    max-width: none;
}

.relative,
[data-relative] {
    position: relative;
}

.absolute,
[data-absolute] {
    position: absolute;
}

.padded {
    padding-left: $offset !important;
    padding-right: $offset !important;
}

.no-pt {
    padding-top: 0 !important;
}
.no-pb {
    padding-bottom: 0 !important;
}
.no-pl {
    padding-left: 0 !important;
}
.no-pr {
    padding-right: 0 !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-padding {
    padding: 0 !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

[data-full-width] {
    @include full-width();
}

[data-view] {
    opacity: 0;
    will-change: auto;
    transition: opacity 1.25s ease, transform 1.25s ease !important;
    transition-delay: .1s !important;
    transform: translate3d(0, 2rem, 0);

    @each $attr, $value in $animation-delay-list {
        &[data-view='#{$attr}'] {
            transition-delay: $value !important;
        }
    }

    @each $attr, $values in $animation-direction-list {
        &[view-direction='#{$attr}'] {
            transform: translate3d($values);
        }
    }

    &.in-view,
    &.seen {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.round {
    border-radius: 50%;
}

.radius {
    border-radius: 20px;
}

.bold {
    @include font(700);
}

video {
    max-width: 100%;
    width: 100%;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    opacity: .3;
    background-color: lighten($grey, 15%);
    border: 0;
    margin: 0;
}

.spacer {
    position: relative;
    display: block;

    &.s05 {
        height: .5rem;
    }
    &.s1 {
        height: 1rem;
    }
    &.s15 {
        height: 1.5rem;
    }
    &.s2 {
        height: 2rem;
    }
    &.s3 {
        height: 3rem;
    }
    &.s4 {
        height: 4rem;
    }
    &.s5 {
        height: 5rem;
    }
}

.medium-shrink {
    @include breakpoint(md) {
        flex: 0 0 auto;
        max-width: 100%;
    }
}

.large-shrink {
    @include breakpoint(lg) {
        flex: 0 0 auto;
        max-width: 100%;
    }
}

.hide-for-md {
    @include breakpoint(md) {
        display: none !important;
    }
}

.show-for-md {
    display: block;
    @include breakpoint(up-to-md) {
        display: none !important;
    }
}

[data-bg-image] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


//Temp Table of Content style
.toc {
    position: relative;
    padding-top: 12vh;
    display: block;

    h1 {
        display: block;
        text-align: center;
    }

    ul {
        li {
            display: block;
            margin-bottom: .75rem;
        }
    }

    a {
        display: inline-block;
        color: initial;

        @include font(400);
    }
}
