//Breakpoints
@mixin breakpoint($width) {
    @if ($width == xs) {
        @media (min-width: $xs) {
            @content
        }
    }
    @if ($width == xs-only) {
        @media (max-width: $xs - 1) {
            @content
        }
    }
    @if ($width == sm) {
        @media (min-width: $sm) {
            @content
        }
    }
    @if ($width == up-to-sm) {
        @media (max-width: $sm - 1) {
            @content
        }
    }
    @if ($width == md) {
        @media (min-width: $md) {
            @content
        }
    }
    @if ($width == up-to-md) {
        @media (max-width: $md - 1) {
            @content
        }
    }
    @if ($width == lg) {
        @media (min-width: $lg) {
            @content
        }
    }
    @if ($width == up-to-lg) {
        @media (max-width: $lg - 1) {
            @content
        }
    }
    @if ($width == xl) {
        @media (min-width: $xl) {
            @content
        }
    }
    @if ($width == portrait) {
        @media screen and (orientation: portrait) {
            @content
        }
    }
    @if ($width == landscape) {
        @media screen and (orientation: landscape) {
            @content
        }
    }
}

//Font mixin
@mixin font($type: 300) {
    @if $type == 100 {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
    }
    @if $type == 300 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
    @if $type == 400 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
    @if $type == 700 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
    @if $type == 900 {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
}


@mixin full-width {
    width: calc(100% + 2vw * 2);
    margin: 0 -2vw;
}

// Opacity transition
@mixin opacity ($t) {
    transition: opacity $t ease-in-out, visibility $t ease-in-out, transform $t ease-in-out;
}
