h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 0.75em;
    margin-top: 0;
    color: $black;

    .theme-dark & {
        color: $white;
    }

    @include font(400);
}

h1,
.h1 {
    font-size: 2.5rem;
    margin-bottom: .75em;

    @include breakpoint(sm) {
        font-size: 2rem;
    }

    @include breakpoint(md) {
        font-size: 2.5rem;
    }

    @include breakpoint(lg) {
        font-size: 3.125rem;
    }

    @include breakpoint(xl) {
        font-size: 3.5rem;
    }

    &.smaller {
        font-size: 2.25rem;
        margin-bottom: .75em;

        @include breakpoint(sm) {
            font-size: 2rem;
        }

        @include breakpoint(md) {
            font-size: 2.375rem;
        }

        @include breakpoint(lg) {
            font-size: 2.625rem;
        }

        @include breakpoint(xl) {
            font-size: 3rem;
        }
    }
}

h2,
.h2 {
    font-size: 1.25rem;

    @include breakpoint(sm) {
        font-size: 1.125rem;
    }

    @include breakpoint(md) {
        font-size: 1.375rem;
    }

    @include breakpoint(lg) {
        font-size: 1.625rem;
    }

    @include breakpoint(xl) {
        font-size: 1.875rem;
    }
}

h3,
.h3 {
    font-size: 1.125rem;

    @include breakpoint(sm) {
        font-size: 1rem;
    }

    @include breakpoint(md) {
        font-size: 1.25rem;
    }

    @include breakpoint(lg) {
        font-size: 1.375rem;
    }

    @include breakpoint(xl) {
        font-size: 1.5rem;
    }
}

h4,
.h4 {
    font-size: 1.125rem;

    @include breakpoint(sm) {
        font-size: 1rem;
    }

    @include breakpoint(md) {
        font-size: 1.25rem;
    }

    @include breakpoint(lg) {
        font-size: 1.375rem;
    }

    @include breakpoint(xl) {
        font-size: 1.5rem;
    }
}

a {
    text-decoration: none;

    &.link {
        display: inline-block;
        position: relative;
        padding-right: 1.5rem;
        color: $black;
        font-size: .8125rem;

        @include font(400);

        @include breakpoint(sm) {
            padding-right: 1.75rem;
            font-size: .875rem;
        }

        @include breakpoint(lg) {
            font-size: .9375rem;
        }

        @include breakpoint(xl) {
            font-size: 1rem;
        }
    }
}

strong {
    @include font(700);

    &.lead {
        @include breakpoint(lg) {
            font-size: 1.375rem;
        }

        @include breakpoint(xl) {
            font-size: 1.5rem;
        }
    }
}

p {
    font-size: .875rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1.375em;

    @include font(400);
}

.lead {
    font-size: 1.375rem;
    line-height: 1.25;
    display: block;
    position: relative;
    margin-bottom: 1em;
    color: $black;

    .theme-dark & {
        color: $white;
    }

    @include breakpoint(sm) {
        font-size: 1.25rem;
    }

    @include breakpoint(md) {
        margin-bottom: .5em;
    }

    @include breakpoint(lg) {
        font-size: 1rem;

        &:not(:last-of-type),
        &:only-of-type {
            margin-bottom: 0;
        }
    }

    @include breakpoint(xl) {
        font-size: 1.125rem;
    }
}
