// Colors
$white:         #fff;
$concrete:      #f1f1f1;
$silver:        #a6a6a6;
$grey:          #737373;
$dark:          #383838;
$black:         #000;

$red:           #fe0034;
$cardinal:      #c01135;
$dark-blue:     #2b3d5b;
$dark-green:    #627a75;

$error:         #ff5553;
$success:       #25c700;

//Default border-radius
$border-radius: 4px;

// Breakpoints
$xs:            375px;
$sm:            640px;
$md:            768px;
$lg:            1024px;
$xl:            1367px;

// Constants
$font-path:     './../fonts';

// Offsets
$offset:        2vw;

// Animation settings ([data-view])
$animation-delay-list: (
    '0':    .05s,
    '1':    .1s,
    '2':    .15s,
    '3':    .2s,
    '4':    .25s,
    '5':    .3s,
    '6':    .35s,
    '7':    .4s,
    '8':    .45s,
    '9':    .5s,
    '10':   .55s,
);
$animation-direction-list: (
    'to-top':       (0, 2.5rem, 0),
    'to-left':      (2.5rem, 0, 0),
    'to-right':     (-2.5rem, 0, 0),
    'to-bottom':    (0, -2.5rem, 0)
);
