article {
    position: relative;
    display: block;
    color: $black;

    @include font(400);

    .small {
        display: block;
        font-size: .75rem;
        line-height: 1.25;
        opacity: .5;
    }

    p {
        line-height: 1.3;
    }
}
