footer {
    position: relative;
    display: block;
    padding: 2rem $offset 2rem;

    @include breakpoint(sm) {
        padding: 2rem $offset 2.25rem;
    }

    @include breakpoint(lg) {
        padding: 2rem $offset 2.5rem;
    }

    p,
    a,
    span {
        font-size: .875rem;
        line-height: 1;
        color: $grey;
        margin-bottom: 0;

        @include breakpoint(sm) {
            font-size: .75rem;
        }
    }

    p {
        @include font(400);

        &.small {
            font-size: .75rem;
            letter-spacing: .25px;
            line-height: 1.45;

            @include breakpoint(sm) {
                font-size: .675rem;
            }

            @include breakpoint(lg) {
                font-size: .625rem;
                letter-spacing: 0;
            }
        }
    }

    a {
        @include font(600);
    }

    ul {
        position: relative;
        display: block;
        padding: 0;
        margin-bottom: 2rem;
        line-height: 1;

        li {
            display: block;
            margin-bottom: 1.0625rem;
        }

        a {
            font-size: .75rem;
            text-transform: uppercase;
            color: $black;

            @include font(300);

            @include breakpoint(lg) {
                font-size: .875rem;
            }
        }
    }

    .bottom-row {
        padding-top: 2rem;

        ul {
            display: flex;
            position: relative;
            margin-bottom: 0;

            li {
                padding: 0 1rem;
                margin-bottom: 0;
                position: relative;

                &::before {
                    content: '';
                    width: 1px;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    opacity: .25;
                    background-color: $grey;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;

                    &::before {
                        display: none;
                    }
                }

                a,
                p {
                    color: $black;
                    display: block;
                    font-size: .75rem;
                    margin-bottom: 0;
                    line-height: 1.4;
                    text-transform: uppercase;
                    transition: color .25s ease;

                    @include font(400);

                    @include breakpoint(lg) {
                        font-size: .875rem;
                    }
                }

                a {
                    &:hover {
                        color: $black;
                    }
                }
            }
        }

        .social {
            display: block;
            opacity: .3;
            width: 2rem;
            height: 2rem;
        }
    }
}
