header {
    position: relative;
    display: block;

    .menu-open & {
        @include breakpoint(up-to-lg) {
            z-index: 1;
        }
    }

    .shrink {
        min-width: 1.25rem;

        @include breakpoint(lg) {
            align-self: flex-start;
        }
    }

    .inner {
        padding-left: $offset;
        padding-right: $offset;
    }

    .main-bar {
        position: relative;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        display: block;
        transition: padding .25s ease;

        @include breakpoint(md) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        @include breakpoint(lg) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    .inner-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        @include breakpoint(lg) {
            align-items: initial;
            flex-direction: row-reverse;
        }
    }

    h1 {
        margin: 0;
    }
}
