section {
    position: relative;
    display: block;
    padding-left: $offset;
    padding-right: $offset;

    &.pt {
        padding-top: 1.25rem;

        @include breakpoint(sm) {
            padding-top: 1.5rem;
        }

        @include breakpoint(md) {
            padding-top: 2rem;
        }

        @include breakpoint(lg) {
            padding-top: 2.5rem;
        }

        @include breakpoint(xl) {
            padding-top: 3.25rem;
        }
    }

    &.pb {
        padding-bottom: 1.25rem;

        @include breakpoint(sm) {
            padding-bottom: 1.5rem;
        }

        @include breakpoint(md) {
            padding-bottom: 2rem;
        }

        @include breakpoint(lg) {
            padding-bottom: 2.5rem;
        }

        @include breakpoint(xl) {
            padding-bottom: 3.25rem;
        }
    }

    &.large-pt {
        padding-top: 1.5rem;

        @include breakpoint(sm) {
            padding-top: 2rem;
        }

        @include breakpoint(md) {
            padding-top: 3.25rem;
        }

        @include breakpoint(lg) {
            padding-top: 5.5rem;
        }

        @include breakpoint(xl) {
            padding-top: 7.5rem;
        }
    }

    &.large-pb {
        padding-bottom: 1.5rem;

        @include breakpoint(sm) {
            padding-bottom: 2rem;
        }

        @include breakpoint(md) {
            padding-bottom: 3.25rem;
        }

        @include breakpoint(lg) {
            padding-bottom: 5.5rem;
        }

        @include breakpoint(xl) {
            padding-bottom: 7.5rem;
        }
    }

    &.small-pt {
        padding-top: .75rem;

        @include breakpoint(sm) {
            padding-top: .875rem;
        }

        @include breakpoint(md) {
            padding-top: 1rem;
        }

        @include breakpoint(lg) {
            padding-top: 1.25rem;
        }
    }

    &.small-pb {
        padding-bottom: .75rem;

        @include breakpoint(sm) {
            padding-bottom: .875rem;
        }

        @include breakpoint(md) {
            padding-bottom: 1rem;
        }

        @include breakpoint(lg) {
            padding-bottom: 1.25rem;
        }
    }

    .section-title {
        display: block;
        position: relative;
        text-transform: uppercase;
        will-change: auto;
        font-size: 1.125rem;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-top: 1px solid $concrete;

        @include font(700);
    }
}
